html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.react-flow {
  --xy-theme-selected: #f57dbd;
}

.react-flow__handle.connectable {
  border-color: var(--xy-theme-selected);
  background: var(--xy-theme-selected);

  /* &:hover {
    background: red;
  } */
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: grey;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.data {
  border-color: #ff0000;
}

.dndflow .dndnode.add {
  border-color: #0041d0;
}

.dndflow .dndnode.sub {
  border-color: #ff0072;
}

.dndflow .dndnode.mul {
  border-color: #1a192b;
}

.dndflow .dndnode.div {
  border-color: #722f37;
}

.dndflow .dndnode.display {
  border-color: #00d084;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
